# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# ML/Data
# dataset/cleaned_dataset.csv
# dataset/cleaning_report.json
# trained_models/
# *.joblib
# *.pkl

# OS
.DS_Store
Thumbs.db
